
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Work+Sans:wght@400;500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
:root{
    --heading: rgb(0,10,45);
    --para: #777;
    --para-tint:#e4e4e4;
    --white: #fff;
    --black:#212529;
    --helper:#8490ff;
    --helper-tint:#f3f4ff;
    --icon-bg: rgba(144, 72, 209, 0.2);
    --bg: rgb(249 249 255);
    --gradient: linear-gradient(0deg, rgb(132 144 255) 0% rgb(98 189 255)100%);
    --gradientSupport: -webkit-linear-gradient(
        0deg,
        rgb(132 144 255) 0%,
        rgb(98 189 255) 100%
        );
        --shodow: 0px 0px 20px 0px rgb( 132 144 255 /20%);
        --shadowSupport: 0 2rem 2rem 0 rgb(132 144 255 /30%);
}

html{
    font-size: 62.5% ;
}
h1,
h2,
h3,
h4{
    font-family:'Poppins', sans-serif;
}
h1{
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600;
}

h3{
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

p{
    color: var(--para);
    line-height: 1.6;
    font-style: 1.7rem;
}


a{
    text-decoration: none;
}


li{
    list-style: none;
}


/* ============================
header start here
============================ */

.header{
    padding: 1.8rem;
    height: 7rem;
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    height: 5rem;
}
 .navbar-list{
    display: flex;
    gap: 4.8rem;
}

.navbar-link:link,
.navbar-link:visited{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--black);
    transition: color 0.3s linear;
}
.navbar-link:link:hover,
.navbar-link:active{
    color: var(--helper);
}

/* ============================
reusabal code start here
============================ */

.section{
    padding: 7rem 9rem;
}
.grid{
    display: grid;
    gap: 9rem;
}

.grid-two-column{
    grid-template-columns: repeat(2, 1fr);
}
.grid-three-column{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: space-evenly;
}
.grid-four-column{
    grid-template-columns: repeat(4, 1fr);
}
.btn{
    padding: 1.6rem 1.3rem;
    background: var(--gradientSupport);
    color: var(--helper-tint);
    text-transform: uppercase;
    display: inline-block;
    font-weight: 500;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover,
.btn:active{
    box-shadow: var(--shadowSupport);
}
.common-heading{
    font-size: 4.8rem;
    font-weight: 600;
    margin-bottom: 5rem;
    text-transform: capitalize;
    position: relative;
}
.common-heading::before{

content: "";
position: absolute;
top: 105%;
left: 0;
width: 1.3rem;
height: 1.3rem;
border-radius: 50%;
background-color: var(--helper);
}
.common-heading::after{
    content: "";
    position: absolute;
    top: 112%;
    left: 1.3rem;
    width: 20rem;
    height: .3rem;
    background: var(--helper);
}

/* ============================
hero section start here
============================ */

.section-hero{
    background-color: var(--bg);
}


.section-hero-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-top-data{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--helper);
}
.hero-heading{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 6.4rem;
}

/* ============================
bio data section start here
============================ */
.bio-image{
    display: flex;
    justify-content: end;
    align-items: center;
}
.hero-para{
    text-transform: uppercase;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    font-weight: 700;
    max-width: 60rem;
}
.bio-image img{
    max-width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -2rem -2rem 0 0 var(--helper);
    display: inline-block;
}
.section-bio{
    gap: 3rem;
}
.bio-data-stats{
    display: flex;
    padding: 3.4rem 0;
    flex-direction: column;
    gap: 2rem;
}
.bio-stats h3{
    margin-bottom: 1rem;
}

.stats-progress-bar{
    width: 90%;
    height: .8rem;
    border-color: var(--para-tint);
    position: relative;
    border-radius: 1rem;
    box-shadow: var(--shodow);
}
.stats-progress-bar::after{
    content: "";
    top: 0;
    left: 0;
    width: 80%;
    height: inherit;
    background: var(--gradientSupport);
    position: absolute;
    border-radius: 10rem;
}
.bio-progress-bar-2::after{
    width: 90%;
}
.bio-progress-bar-3::after{
    width: 75%;
}
.bio-progress-bar-4::after{
    width: 60%;
}
.bio-progress-bar-5::after{
    width: 30%;
}
.stats-progress-bar span{
    position: relative;
    top: 1.8rem;
    width: 4rem;
    height: 2rem;
    background: var(--helper);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: 0;
}


.bio-progress-bar span{
    left:76%;
}
.bio-progress-bar-2 span{
    left: 86%;
}
.bio-progress-bar-3 span{
    left: 71%;
}
.bio-progress-bar-4 span{
    left: 56%;
}
.bio-progress-bar-5 span{
    left: 26%;
}


    /* to create caret---- */

    .stats-progress-bar span::after{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 0.8rem solid var(--helper);
        border-color: transparent;
        border-bottom-color: var(--helper);
        top: -1.6rem;
    }
    /* ============================
portfolio section start here
============================ */
    .section-portfolio{
        background: var(--bg);
        transition: all 0.7s linear;
    }
    .section-portfolio p{
        width: 60rem;
    }
    .p-btns{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 4.4rem;
        margin: 4.4rem 0;
    }
    .portfolio-images img{
        width: 100%;
        border-radius: 7px;
        position: relative;
        overflow: hidden;
    }
    .img-overlay{
        position: relative;
        overflow: hidden;
    }
    .img-overlay .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--gradientSupport);
        opacity: 0;
        transform: translateY(100%);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        transition: all 0.3s linear;
    }
    .img-overlay:hover > .overlay{
        transform: translateY(0);
        opacity: 0.8;
        cursor: pointer;
    }
    .img-overlay .common-heading{
        margin: 0;
        color: var(--white);
        text-decoration: none;
    }
    .p-btn-active{
        transform: translateY(-1rem);
    }
    .p-image-not-active{
        display: none;
    }

      /* ==========================
          conter section start here
============================ */
    .section-work-data{
        background: var(--gradientSupport);
        text-align: center;
        transition: all 0.7s linear;
        color: var(--white);
    }
    .conter-number{
        font-size: 4.8rem;
    }
    .section-work-data p{
        color: var(--white);
    }


         /* ============================
          our services section start here
============================ */
.section-services{
    transition: all 0.7 linear;
}
.section-services p{
    max-width: 50rem;
}
.section-services .grid{
    margin-top: 8rem;
    gap: 4rem;
    row-gap: 4rem;
}

.service-box{
    text-align: center;
    box-shadow: var(--shodow);
    border-radius: 5px;
    padding: 6.4rem 3.4rem;
    transition: all 0.2s linear;
}

.service-box:hover,
.service-box:active{
    transform: translateY(-3rem);
}
.service-icon{
    width:8rem;
    height:8rem;
    background: var(--icon-bg);
    border-radius: 56% 44% 70% 30%/ 30% 54% 46% 70%;
    padding: 1.8rem 1.4rem;
    position: relative;
    color: var(--heading);
    animation: water-wave 3s linear infinite;
}
.service-icon::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:90%;
    height:90%;
    border-radius: 56% 44% 70% 30%/ 30% 54% 46% 70%;
    background: transparent;
    border:  1px solid var(--black);
}
@keyframes water-wave{
    0%{
        border-radius: 56% 44% 70% 30%/ 30% 54% 46% 70%;
    }
    50%{
        border-radius: 3% 97% 15% 85%/ 72% 0% 100% 28%;
    }

    100%{
        border-radius: 56% 44% 70% 30%/ 30% 54% 46% 70%;
    }
}